* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: linear-gradient(to right, rgb(167, 83, 167), rgb(219, 219, 23));
  padding: 0 1rem;
}

.search-container {
  position: relative;
  max-width: 450px;
  margin: 15rem auto;
}

.search-container .search-input {
  background-color: #fff;
  border-radius: 0.5rem;
  width: 100%;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.search-input input {
  height: 55px;
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.search-input .icon {
  height: 55px;
  width: 55px;
  line-height: 55px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  color: rgb(173, 66, 173);
  cursor: pointer;
}

.search-input .autocom-box {
  padding: 0;
  max-height: 280px;
  overflow-y: hidden;
  opacity: 0;
  pointer-events: none;
}

.autocom-box li {
  list-style: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: default;
  border-radius: 0.2rem;
  display: none;
}

.autocom-box li:hover {
  background-color: #8a888833;
}

.search-input.active .autocom-box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.search-input.active .autocom-box li {
  display: block;
}
