* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: linear-gradient(to right, rgb(167, 83, 167), rgb(219, 219, 23));
}

.search-container {
  max-width: 450px;
  margin: 15rem auto;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

input {
  padding: 0.5rem;
  border: none;
  text-decoration: none;
  outline: none;
  font-size: 1.2rem;
}

.search-container input,
.search-container .suggestions {
  /* TODO */
}

.search-container input {
  /* TODO */
}

.search-container .suggestions {
  /* TODO */
}

ul {
  /* TODO */
}

ul.has-suggestions {
  /* TODO */
}

ul li {
  /* TODO */
}

ul li:hover {
  /* TODO */
}
